.asd{	
		height:180px;
		background-color:#293f50;
		color:white;
		text-transform:uppercase;
		margin:-8px;
		
}
.praa{
		float:left;
		margin-left:230px;
		font-size:50px;
}
a{
		text-decoration:none;
		color:white;
}
a:hover {
  color: #a9b2b9;
}
h2{
		padding-left:60px;
		color:#656688;
}
.wer{
		padding:120px;
		float:right;	
}
.cvb{
		float:left;
		margin-top:110px;
		width:230px;
		margin-left:90px;
		height:680px;
		padding-left:30px;
		margin-right:60px;
		border: 2px solid grey;
		position:sticky;
		top:-161;
		
}
.cvb a{
		color:blue;
}
.ca{	
		border: 2px solid grey;
		width:620px;
		padding-left:10px;
		margin-left:500px;
}
.mnb a{
		color:#7CACD7;
}
.ftdiv{
		color: #a9b2b9;
		letter-spacing:.5px;
		text-transform: capitalize;
		padding:30px 190px;
		
}
.fdiv{
		
		padding:30px 230px;
}

footer{
		top:0;
		bottom:0;
		background-color:#293f50;
		margin:-8px;
}	